.idea
__pycache__/
*.py[cod]
docs/_build/
docs/api/
docs/source/
components/core/coverage.out/
components/core/coveragerc.ini
components/core/cprofile.sh
components/core/htmlcov.report/
components/core/print_stats.py
components/core/profile_example.py
components/core/slurm-tests-out*
venv*
*.swp
pylama.ini
make.bat
test_all_slurm_versions/
